/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
  outline:none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation/Link Styles */

.navigation {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  border-bottom: 3px solid #313843;
  background-color: #f5f6fa;
  font-size: 1.2rem;
}

@media(max-width: 600px) {
  .navigation {
    flex-direction: column;
    background-color: #f5f6fa;
  }
}

.navigation .navLink{
  border: 1px solid #f5f6fa;
  background-color: #f5f6fa;
  border-radius: 5x;
  padding: 5px;
  font-weight: bold;
}

.navigation .navLink p{
  color: #313843;
}

.navigation .navLink:hover{
  background-color: #313843;
  transition: all 250ms ease-in-out;
  border-radius: 5px;
}

.navigation .navLink p:hover{
  transition: all 250ms ease-in-out;
  color: #f5f6fa;
}

@media(max-width: 600px) {
  .navigation .navLink {
    margin-top: 10px;
    background-color: #313843;
    text-align: center;
  }
}

@media(max-width: 600px) {
  .navigation .navLink p {
    color: #f5f6fa;
  }
}

/* Dark Mode Styles */

.dark-mode__container {
  display: flex;
  margin-top: 1px;
}

@media(max-width: 600px) {
  .dark-mode__container {
    justify-content: center;
    margin-top: 20px;
  }
}

.dark-mode__container .light__symbol{
  margin: 3.5px;
  color: gold;
}

.dark-mode__container .dark__symbol{
  margin: 3.5px;
  color: midnightblue;
}

.dark-mode__toggle {
  margin: 2px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid black;
  height: 19px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #313843;
  border-radius: 75px;
  height: 15px;
  left: 4px;
  margin-top: 1.5px;
  position: absolute;
  transition: 0.2s;
  width: 9px;
}

.toggle:hover {
  cursor: pointer;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
  transition: background-color 0.25s ease-out;
}

/* Main pages styling */

.mainPage__style {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-weight: bold;
}

@media(max-width: 990px) {
  .mainPage__style {
    flex-direction: column;
  }
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

h1 {
  color: black;                 
  font-size: 1.5rem;
}

.app__dropdown {
  background-color: white;
}

@media(max-width: 600px) {
  .app__dropdown {
    width: 65%;
  }
}

@media(max-width: 600px) {
  .app__header {
    flex-direction: column;
    margin-top: 10px;
  }
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

@media(max-width: 990px) {
  .app__right {
    margin-left: 0px;
  }
}


.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
}

/* Toggle For Dark Mode */

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 3px;
  background: #fff;
  opacity: 0.9;
  background-color: lightgreen;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

@media(max-width: 600px) {
  .toggle-container {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.card-subtitle {
  margin-bottom: 6px;
}

.card-subtitle span, p{
  display: inline;
}

.card-subtitle span p{
  margin-left: 3px;
}

/* United States Page Styling*/

.stateCard h2 {
  margin-bottom: 8px;
  padding: 0 0 3px 0px;
  font-size: 1.3rem;
}

.app__left-US {
  flex: .9;
  margin: 2% 5% 0 5%;
  min-width: 16%;
  max-width: 25%;
}

.table__holder .table{
  margin-top: 42px;
}

@media(max-width: 1350px) {
  .search__states {
    max-width: 65%;
  }
}

@media(max-width: 990px) {
  .search__states {
    max-width: 100%;
  }
}

@media(max-width: 990px) {
  .app__left-US {
    margin: 2% 2% 8% 2%;
    max-width: 100%;
  }
}

@media(max-width: 990px) {
  .sc-bdvvaa.fOHLde, form .search{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 3% 2% 8% 10%;
    padding: 0;
  }
}

.search {
  display: flex;
  width: 100%;
  align-self: flex-end;
}

.search input{
  margin-left: 5px;
}

.input {
  margin: 0.5rem;
}

.sc-dkPtyc .itmsRu {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sc-gsDJrp.jeqovw {
  min-width: 13vw;
 }

 @media(max-width: 990px) {
  .sc-gsDJrp.jeqovw {
    justify-content: center;
    min-width: 20%;
    padding: 5% 0% 6% 0%;
  }
}

/* About Page Styling */

.textbox {
  text-align: center;
  padding: 4%;
  width: 40%;
}

@media(max-width: 990px) {
  .textbox {
    text-align: center;
    width: 90%;
  }
}

.textbox li{
  margin-bottom: 15px;
  padding: 1%;
  border: 1.5px solid #39404d;
}

.textbox li:first-child {
  font-size: 1.3rem;
  border: none;
}

/* Footer Styling */

.footer-container {
  position: relative;
  min-height: 60vh;
}

footer {
  text-align: center;
  background-color: #39404d;
  color: #f5f6fa;
  position: absolute; 
  bottom: 0; 
  width: 100%;
}

.navigation-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #39404d;
  font-size: 1.2rem;
}

.navigation-footer footer span {
  padding: 10px;
}

@media(max-width: 600px) {
  .navigation-footer {
    flex-direction: column;
    margin-top: 10px;
    background-color: #39404d;
  }
}

.navigation-footer  .navLink{
  border: 1px solid #39404d;
  background-color: #39404d;
  border-radius: 5x;
  padding: 5px;
  font-weight: bold;
}

.navigation-footer .navLink p{
  color: #f5f6fa;
}

.navigation-footer  .navLink:hover{
  background-color: #F7B301;
  transition: all 250ms ease-in-out;
  border-radius: 5px;
}

.navigation-footer  .navLink p:hover{
  transition: all 250ms ease-in-out;
  color: #313843;
}

@media(max-width: 600px) {
  .navigation-footer  .navLink {
    margin-top: 10px;
    background-color:#f5f6fa;;
    text-align: center;
  }
}

@media(max-width: 600px) {
  .navigation-footer  .navLink p {
    color: #313843;
  }
}

/* Login/SignUp Styling */

.login-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login-main form{
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
    margin-bottom: 8px;
    font-weight: bold;
    color: #313843;

    background-color: #f5f6fa;
    box-shadow: 0px 0px 12px 2px rgba(66, 64, 64, 0.2);
    border-radius: 4px;
    position: relative;
    padding: 2% 2% 3% 2%;
    margin: 5% 0% 5% 0%;
}

@media(max-width: 600px) {
  .login-main form{
    padding: 4% 4% 6% 4%;
  }
}

.login-main form h1{
  text-align: center;
}

.login-main label{
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: #313843;
}

.login-main input{
  font-size: 1.02rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #313843;
}

.login-main .mainLogin-btn {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #F7B301;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: 2%;
}

.login-main .mainLogin-btn:hover {
  background-color: #313843;
}

.login-redirect{
  margin-top: 10px;
  font-weight: normal;
}

/* Logout Stlying */

.Logout__button{
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.1rem;
}

.Logout__button:hover{
  color: white;
}

@media(max-width: 600px) {
  .Logout__button{
    color: white;
  }
}

.Logout__button-footer {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.1rem;
  color: #f5f6fa;
}

.Logout__button-footer:hover {
  transition: all 250ms ease-in-out;
  color: #313843;
}

@media(max-width: 600px) {
  .Logout__button-footer {
    color: #313843;
  }
}