/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
  outline:none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --clr-background: #fff;
  --clr-font: #313843;
  --clr-primary: #313843;
  --clr-secondary: #f5f6fa;
  --clr-pop: #F7B301;
}

.App__main {
  background-color: var(--clr-background);
  position: relative;
  min-height: 100vh;
  padding-bottom: 20%;
}

/* Navigation/Link Styles */

.navigation {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  border-bottom: 3px solid var(--clr-primary);
  background-color: var(--clr-secondary);
  font-size: 1.2rem;
}

@media(max-width: 700px) {
  .navigation {
    flex-direction: column;
    background-color: #f5f6fa;
  }
}

.navigation .navLink{
  border-bottom: 3px solid #f5f6fa;
  background-color: #f5f6fa;
  padding: 8px 3px 8px 0;
  font-weight: bold;
}

.navigation .navLink p{
  color: var(--clr-primary);
}

.navigation .navLink:hover{
  border-bottom: 3px solid var(--clr-primary);
  transition: all .3s ease-in-out;
}

@media(max-width: 700px) {
  .navigation .navLink {
    margin-top: 10px;
    background-color: var(--clr-primary);
    text-align: center;
  }
}

@media(max-width: 700px) {
  .navigation .navLink p {
    color: var(--clr-secondary);
  }
}

/* Dark Mode Styles */

.dark-mode__container {
  display: flex;
  margin-top: 4px;
}

@media(max-width: 700px) {
  .dark-mode__container {
    justify-content: center;
    margin-top: 20px;
  }
}

.dark-mode__container .light__symbol{
  margin: 3.5px;
  color: var(--clr-pop);
}

.dark-mode__container .dark__symbol{
  margin: 3.5px;
  color: midnightblue;
}

.dark-mode__toggle {
  margin: 2px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #313843;
  height: 19px;
  position: relative;
  width: 40px;
}

.toggle {
  background: var(--clr-primary);
  border-radius: 75px;
  height: 15px;
  left: 4px;
  margin-top: 1.5px;
  position: absolute;
  transition: 0.2s;
  width: 18px;
}

.toggle:hover {
  cursor: pointer;
}

.toggled {
  left: 18px;
}

.dark-mode {
  --clr-background: #313843;
  --clr-font: #fff;
  transition: 0.25s ease-out;
}

/* Main pages styling */

.mainPage__style {
  display: flex;
  margin-left: 2%;
  justify-content: space-evenly;
  padding: 30px;
  font-weight: bold;
}

@media(max-width: 990px) {
  .mainPage__style {
    flex-direction: column;
  }
}

.mainPage__style-US {
  min-height: 100vh;
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

h1 {
  color: var(--clr-font);              
  font-size: 1.5rem;
}

.app__dropdown {
  background-color: #f5f6fa;
}

@media(max-width: 600px) {
  .app__dropdown {
    width: 65%;
  }
}

@media(max-width: 600px) {
  .app__header {
    flex-direction: column;
    margin-top: 10px;
  }
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

@media(max-width: 990px) {
  .app__right {
    margin-left: 0px;
  }
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
}

/* US Page Styling*/

.stateCard h2 {
  margin-bottom: 8px;
  padding: 0 0 3px 0px;
  font-size: 1.3rem;
}

.app__left-US {
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 80%;
}

.table__holder .table{
  margin-top: 42px;
}

.search__states .MuiCardContent-root {
  background-color: var(--clr-background);
}

.search-holder {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-left: 50px;
  font-size: 1.2rem;
}

.search {
  color: var(--clr-font);
  display: flex;
  width: 100%;
  align-self: flex-end;
}

.search input{
  margin-left: 8px;
}

.input {
  margin: 0.75rem;
}

.state-list {
  background-color: var(--clr-background);
}

.state-results {
    background-color: var(--clr-background);
    color: var(--clr-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.state-holder {
  display: flex;
  margin: 15px;
  color: var(--clr-background);
  background-color: var(--clr-font);
  padding: 35px 45px 35px 35px;
  border-radius: 10px;
  width: 140px;
  box-shadow: 0 8px 17px rgba(170, 170, 170, 0.8), 0 17px 14px rgba(170, 170, 170, 0.22);
}

 .card-subtitle span {
   display: flex;
   margin-top: 8px;
 }

 .card-subtitle span p {
  margin-left: 10px;
 }

/* About Page Styling */

.textbox {
  color: var(--clr-font);
  text-align: left;
  padding: 4%;
  width: 40%;
}

@media(max-width: 990px) {
  .textbox {
    text-align: left;
    width: 90%;
  }
}

.textbox li{
  margin-bottom: 15px;
  padding: 1%;
}

.textbox li:first-child {
  font-size: 1.3rem;
  border: none;
}

/* Login/SignUp Styling */

.login-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login-main form{
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
    margin-bottom: 8px;
    width: 25%;
    font-weight: bold;
    color: var(--clr-primary);

    background-color: var(--clr-secondary);
    box-shadow: 0px 0px 12px 2px rgba(66, 64, 64, 0.2);
    border-radius: 4px;
    position: relative;
    padding: 2% 2% 3% 2%;
    margin: 5% 0% 5% 0%;
}

@media(max-width: 1200px) {
  .login-main form{
    width: 35%;
    padding: 4% 4% 6% 4%;
  }
}

@media(max-width: 600px) {
  .login-main form{
    width: 75%;
    padding: 4% 4% 6% 4%;
  }
}

.login-main form h1{
  color: #313843;
  text-align: center;
}

.login-main label{
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--clr-primary);
}

.login-main input{
  font-size: 1.02rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: var(--clr-primary);
}

.login-main .mainLogin-btn {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-pop);
  border: none;
  border-radius: 3px;
  color: var(--clr-background);
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: 2%;
}

.login-main .mainLogin-btn:hover {
  background-color: var(--clr-primary);
  color: #fff;
}

.login-redirect{
  margin-top: 10px;
  font-weight: normal;
}

/* Footer Styling */

footer {
  text-align: center;
  height: 60px;
  background-color: var(--clr-font);
  color: var(--clr-background);
  position: absolute;
  bottom: 0; 
  width: 100%;
}
footer div {
  margin-top: 20px;
}

@media(max-width: 600px) {
  .navigation-footer {
    flex-direction: column;
    margin-top: 10px;
    background-color: var(--clr-primary);
  }
}