.weather-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .city-country-div {
      margin: 0 20px 0 20px;
  }

  .weather-btn {
      background-color: #F7B301;
      color: #313843;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 15px;
  }

  .weather-btn:hover {
    transition: all 250ms ease-in-out;
    background-color: #313843;
    color: #f5f6fa;
}
  
  .alert {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid tomato;
  }

  form input[name="city"],
  form input[name="country"] {
    font-size: 1.05rem;
    background-color: transparent;
    color: #313843;
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
  }

  @media(max-width: 650px) {
    .weather-form {
      flex-direction: column;
    }
  }
  
  @media(max-width: 650px) {
    .weather-form .city-country-div, .weather-btn{
      margin: 10px;
    }
  }
  