.infoBox {
    flex: 1;
    margin-top: 10px;
    cursor: pointer;
  }

  @media(max-width: 600px) {
    .infoBox {
      margin-top: 25px;
    }
  }
  
  .infoBox:not(:last-child) {
    margin-right: 10px;
  }
  
  .infoBox--selected {
    border-top: 10px solid greenyellow;
  }

  .infoBox--selected2 {
    border-top: 10px solid black;
  }
  
  .infoBox--red {
    border-top: 10px solid #DC143C;
  }
  
  .infoBox__cases--green {
    color: lightgreen !important;
  }

  .infoBox__deaths--black {
      color: black !important;
  }
  
  .infoBox__cases {
    color: #DC143C;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }


  @media(max-width: 750px) {
      .infoBox__cases {
          font-size: 1.3rem;
      }
  }

  @media(max-width: 750px) {
    .infoBox__title {
        font-size: .9rem !important;
    }
}