.Weather {
    padding: 3%;
}

.Weather .Card1{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10%;
  }

  @media(max-width: 800px) {
    .Weather{
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 5%;
      }
  }

.city-name__weather, .display-degrees, .weather-description{
    margin: 15px;
}

.weather-icon {
    font-size: 2.75rem;
    margin: 25px 15px 15px 15px;
}

.temp__low-high .temp__low{
    margin-right: 10px;
}